<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="content">
      <div id="root">
      </div>
    </div>
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>